# Виртуальное окружение Python (любые варианты названий)
.venv/
venv/
env/
ENV/

# Кэш Python 
__pycache__/
*.py[cod]
*$py.class

# Кэш тестов Pytest
.pytest_cache/
.coverage
htmlcov/

# Служебные файлы редактора
.vscode/


